@media (max-width: 1600px) {
    .contacts-cards {
        left: 2vw !important;
    }
 }

 @media (max-width: 1500px) {
    .contacts-cards {
        left: 4vw !important;
    }
 }

 @media (max-width: 1024px) {
    .nav-menu-text {
        padding-top: 3vw !important;
    }
 }


 @media (max-width: 768px) {
    .lang-switch {
        top: 18vw !important;
    }
    .nav-menu-text {
        padding-top: 4vw !important;
    }
    .card-text {
        position: relative;
        top: 8vw !important;
    }
    .cont-platform-ico {
        bottom: 10.5vw !important;
    }
 }



