@import 'adaptive.css';

.body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
}


/*SLIDER IMAGE*/

.slide1 {
    background-image: url(/img/bg-1.jpg);
    height: 50vw;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    background-size: cover;
}

.slide2 {
    background-image: url(/img/bg-2.jpg);
    height: 50vw;
    width: 100vw !important;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    background-size: cover;
}
.slide3 {
    background-image: url(/img/bg-3.jpg);
    height: 50vw;
    width: 100vw !important;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    background-size: cover;
}

/*HEADER*/

.header {
    width: 100vw;
    margin: 0 auto;
    max-width: 100vw;
    position: relative;
    left: 1vw;
}

.slider {
    width: 100vw;
    margin: 0 auto;
    position: absolute;
    right: 1vw;
    display: flex;
}

.slider img {
    width: 100vw;
}

.header-body {
    position: relative;
    width: 105vw !important;
    background-position: 0 100%;
    height: 50vw;
    right: 3.5vw;
    background: url(/img/header-effect.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1vw;
    background-size: cover;
}

.navbar {
    width: 70vw;
    margin: 0 auto;
    list-style-type: none;
}

.navbar img {
    width: 18vw;
}

.menu-nav {
    width: 32vw;
    position: relative;
    right: 5vw;
    color: white;
}

.menu-nav li {
    margin-right: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    cursor: pointer;
    transition: 0.4s;
}

.menu-text {
    padding-top: 1vw;
}

.contact-button {
    background: #3F53FE;
    padding: 1vw 3vw 1vw 3vw;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.4s;
    top: 0px;
    position: relative;
}

.contact-button:hover {
    box-shadow: 0px 4px 26px #3F52FE;
}

.header-title {
    text-transform: uppercase;
    font-size: 3vw;
    color: white;
    width: 100vw;
    position: relative;
    left: 30.5vw;
    padding-top: 10vw;
    margin: 0 auto;
}

.header-title span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.header-title-desc {
    position: relative;
    left: 3vw;
    top: 0vw;
    font-size: 2vw;
}

.header-title-button {
    border: none;
    bottom: 1vw;
    padding: 10px 40px 10px 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 1.3vw;
    color: white;
    position: relative;
    left: 8vw;
    transition: 0.4s;
}

.header-title-button:hover {
    background: #3F53FE;
    border: 2px solid #3F53FE;
}

.header-down-button {
    position: relative;
    padding-left: 52.5vw;
    padding-top: 14vw;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    cursor: pointer;
}
.header-down-button img {
    width: 3vw;
}
.arrow-anim {
    animation-name: arrow-anim;
    animation-timing-function: ease;
}

@keyframes arrow-anim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}


/*ABOUT US*/

.about {
    width: 100vw;
    height: 45vw;
    margin: 0 auto;
}

.text-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    left: 44vw;
    padding-top: 4vw;
}

.text-title span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.title-hr {
    background: #C4C4C4;
    height: 0.2vw;
    width: 0vw;
    position: relative;
    left: 43.5vw;
    border-radius: 50px;
    transition: 0.3s;
}

.about:hover .title-hr {
    background: #C4C4C4;
    height: 0.2vw;
    width: 3vw;
    width: 12vw;
    border-radius: 50px;
}

.body-text-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    position: relative;
    padding-left: 15vw;
    padding-top: 10vw;
}

.body-text-desc {
    width: 50vw;
    position: relative;
    padding-left: 15vw;
    padding-top: 3vw;
}

.body-text-desc p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.0vw;
}

.body-text-desc span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0vw;
}

.body-text-desc img {
    position: relative;
    left: 45vw;
    bottom: 20vw;
    width: 30vw;
}


/*SERVICES*/

.services {
    width: 100vw;
    margin: 0 auto;
    z-index: 1;
    color: white;
    height: 40vw;
    background: url(../img/services-bg-2.png), url(../img/services-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-hr-serv {
    background: white;
    height: 0.2vw;
    width: 0vw;
    position: relative;
    left: 43.5vw;
    border-radius: 50px;
    transition: 0.3s;
}

.services:hover .title-hr-serv {
    width: 11.7vw;
}

.services-cards {
    position: relative;
    top: 2vw;
    left: 15vw;
}

.services-card {
    border-radius: 5vw 10px 5vw 10px;
    -moz-border-radius: 5vwx 10px 5vw 10px;
    -webkit-border-radius: 5vw 10px 5vw 10px;
    width: 18vw;
    margin-right: 7vw;
    height: 28vw;
    background: rgba(255, 255, 255, 0.726);
    transition: 0.4s;
    border: 2px solid transparent;
}

.services-card:hover {
    border: 2px solid #3F52FE;
}

.services-card img {
    position: relative;
    left: 7vw;
    width: 5vw;
    top: 2vw;
}

.services-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3vw;
    position: relative;
    top: 5vw;
    left: 0.4vw;
    text-align: center;
}

.services-text {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8vw;
    max-width: 15vw;
    position: relative;
    text-align: center;
    top: 5vw;
    left: 1.5vw;
}

.card-counter {
    background: #3F53FE;
    width: 4vw;
    top: 5.2vw;
    left: 12.5vw;
    position: relative;
    height: 4vw;
    border-radius: 100px;
}

.card-counter {
    font-size: 2vw;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.card-counter p {
    position: relative;
    top: 0.5vw;
}


/*REVIEWS*/

.reviews {
    width: 100vw;
    margin: 0 auto;
    height: 51vw;
}

.title-hr-rew {
    background: black;
    height: 0.2vw;
    width: 0vw;
    position: relative;
    left: 43.5vw;
    border-radius: 50px;
    transition: 0.3s;
}

.reviews:hover .title-hr-rew {
    width: 10.7vw;
}

.reviews-cards {
    position: relative;
    left: 10vw;
    top: 5vw;
}

.reviews-card {
    background: white;
    width: 20vw;
    height: 30vw;
    margin-right: 8vw;
}

.review-body {
    width: 21.5vw;
    position: relative;
    height: 8vw;
    padding-left: 1vw;
    padding-top: 2vw;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.25);
}

.review-img img {
    width: 21.5vw;
}

.review-img img {
    width: 21.5vw;
    transition: 0.4s;
}

.reviews-card:hover .review-img img {
    filter: brightness(0.35);
    color: rgba(63, 82, 254, 0.56);
}

.review-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

.review-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0vw;
    position: relative;
    bottom: 0.5vw;
}

.review-body-line {
    width: 0vw;
    height: 0.5vw;
    bottom: 0.0vw;
    position: relative;
    right: 1vw;
    background: #3F53FE;
    transition: 0.4s;
}

.reviews-card:hover .review-body-line {
    width: 21.5vw;
}

.review-img-text {
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 8vw;
    left: 1.5vw;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    transition: 0.4s;
    display: none;
}

.reviews-card:hover .review-img-text {
    display: inline;
}

.review-card-body {
    position: relative;
}

/* STATS */

.stats {
    height: 30vw;
    position: relative;
    width: 100vw;
    background: url(../img/stats-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stats__body-text {
    position: relative;
    left: 15.2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;

    top: 10vw;
    color: white;
}

.stats-body-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
}

.stats-body-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 30vw;
    font-size: 1.2vw;
}

.stats__body-cards {
    position: relative;
    left: 10vw;
    bottom: 2vw;
}
.stats__body-card {
    align-items: center;
    vertical-align: baseline;
    margin-right: 5vw;
    cursor: pointer;
}

.stats__body-card img {
width: 3.5vw;
position: relative;
    left: 18.75vw;
    top: 11vw;
}

.card-text {
    position: relative;
    top: 9vw;
    left: 16.3vw;
    font-size: 1vw;
    text-align: center;
    color: white;
}

.stats__body-counter {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    vertical-align: baseline;
    position: relative;
    left: 18vw;
    top: 11vw;
}

.stats__card-line {
    width: 8vw;
    background: #C4C4C4;
    height: 0.3vw;
    border-radius: 50px;
    position: relative;
    left: 16.5vw;
    vertical-align: baseline;
    top: 8.8vw;
    transition: 0.4s;
}

.stats__body-card:hover .stats__card-line {
background: #3F53FE;
}

/*CONTACTS*/
.contacts {
    height: 50vw;
    width: 100vw;
}

.title-hr-cont {
    background: black;
    height: 0.2vw;
    width: 0vw;
    position: relative;
    left: 43.5vw;
    border-radius: 50px;
    transition: 0.3s;
}

.contacts:hover .title-hr-cont {
    width: 15.5vw;
}

.text-title-light {
    color: black;
    text-align: center;
    font-size: 1vw;
    position: relative;
    left: 1.5vw;
}
.contact__card {
    position: relative;
    top: 6vw;
    left: 17vw;
}

.contact__card {
    border-radius: 0px 50px 0px 50px;
    -moz-border-radius: 10px 50px 10px 50px;
    -webkit-border-radius: 10px 50px 10px 50px;
    width: 20vw;
    transition: 0.4s;
    height: 22vw;
    cursor: pointer;
    margin-right: 4vw;
    box-shadow: 0px 0px 71px rgba(0, 0, 0, 0.25);
}

.fa-telegram-plane,
.fa-facebook-square,
.fa-twitter {
    font-size: 4vw;
    position: relative;
    text-align: center;
    left: 8vw;
    top: 3vw;
    color: #3F52FE;
}

.contacts__card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    
    text-align: center;
    top: 4vw;
    font-size: 2vw;
}

.contacts__card-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    width: 15vw;
    text-align: center;
    position: relative;
    left: 2.3vw;
    top: 4vw;
}

/*HOVER-EFFECTS*/
.contact__card:hover {
background: #3F52FE;
color: white;
}

.contact__card:hover .fa-telegram-plane {
    color: white;
}

.contact__card:hover .fa-facebook-square {
    color: white;
}
.contact__card:hover .fa-twitter {
    color: white;
}

/*FOOTER*/

.footer {
    background: #00061C;
    height: 30vw;
    width: 100vw;
}

.footer-left {
    position: relative;
    color: white;
    padding-top: 10vw;
    padding-left: 15vw;
}
.footer-text {
    width: 22vw;
    font-size: 1vw;
}

.footer-author {
    font-size: 1vw;
}

.footer-left img {
    width: 17vw;
    position: relative;
    bottom: 3vw;
}

a {
    text-decoration: none;
}

.footer-right ul>li {
    color: white;
    list-style-type: none;
    margin-top: 1vw;
}

.footer-right {
    position: relative;
    left: 30vw;
    top: 6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
}

.footer-right-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
    color: #3F52FE !important;
}